body {
    background-color: rgb(32, 32, 32);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    overflow: hidden;
}

nav ul {
    max-width: 500px;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

a {
    color: aliceblue;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

nav img {
    max-width: 50px;
    margin-right: 20px;
    margin-top: -10px;
    float: right;
}

h6 {
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}

body section p {
    text-align: left;
    margin-left: 10px;
}

h5 {
    float: right;
    margin-right: 20px;
    margin-top: 40px;
    max-width: -50px;
}

h2 {
    margin-left: 20px;
}

li {
    margin-left: 20px;
}

h3 {
    margin-left: 10px;
}

body::-webkit-scrollbar {
    width: 0; 
    height: 0;
}

p{
margin-left: 10px;

}